body {
  margin: 0;
  padding: 0;
}

.container {
  background: rgb(44, 57, 82);
  background: linear-gradient(
    90deg,
    rgba(44, 57, 82, 1) 21%,
    rgba(220, 220, 220, 1) 21%
  );
  position: relative;
}

.gear {
  z-index: 999;
  -webkit-box-shadow: 5px 10px 22px 5px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 10px 22px 5px rgba(0, 0, 0, 0.54);
  position: sticky;
  top: 0;
}

.hero {
  background-image: url("/assets/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-position-x: 15rem;
  box-shadow: inset 0 0 0 50vw #96e2b26e;
}
